name: Prune Docker system

on:
  workflow_dispatch:

jobs:
  ConntctSSH:
    runs-on: ubuntu-latest
    steps:
      - name: connectSSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
                 docker system prune -af
