name: Prune Docker system

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ConntctSSH:
    runs-on: ubuntu-latest
    steps:
      - name: connectSSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
                 sudo apt update
                 docker system prune -af
                 sudo apt update
