name: Action-nginx-aws
on: push
jobs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: script
      run: workflownginx/script.sh
      shell: bash
    with:
      password: ${{ secrets.ACCESS_TOKEN }}
