name: Test SSH

on:
  workflow_dispatch:

jobs:
  ConntctSSH:
    runs-on: ubuntu-latest
    steps:
      - name: takurva
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
                 ls -al
                 sudo apt update
                 sudo apt install -y nginx
                 sudo echo "Sho tut u nas" > /var/www/html/index.html
                 sudo service nginx start
                 sudo service nginx stop
                 sudo apt remove -y nginx
                 sudo apt install apache2
                 sudo service apache2 start
