name: Nginx on EC2
on:
  push:
  
jobs:
  BuildDockerImage:
    runs-on: self-hosted
    steps:
      - name: multiple command
        uses: appleboy/ssh-action@master
        with:
           host: ${{ secrets.HOST }}
           username: ${{ secrets.USERNAME }}
           key: ${{ secrets.KEY }}
           port: ${{ secrets.PORT }}
           script: |
                  whoami
                  ls -al
